<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <div class="header">
            <h2>WebBlog</h2>
        </div>
        <a href="{% url 'index' %}"><h5>Back to Home Page</h5></a>
    </center>
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>{{posts.title}}</h2>
                <h5>{{posts.date_created}}</h5>
                <p>{{posts.body}}</p>
            </div>
        </div>
    </div>
    
</body>
</html>